@inject NavigationManager Navigation

<div class="topnav @(menuOpen ? "responsive" : "")" id="myTopnav">
    <a href="#home" @onclick="CloseMenu">Home</a>
    <a href="#about" @onclick="CloseMenu">About</a>
    <a href="#pricing" @onclick="CloseMenu">Pricing</a>
    <a href="#partners" @onclick="CloseMenu">Partners</a>
    <a href="#contact" @onclick="CloseMenu">Contact</a>
    <button class="icon mobile-only" @onclick="ToggleMenu">
        <i class="fa fa-bars"></i>
    </button>
</div>

@code {
    private bool menuOpen = false;
    private void ToggleMenu() => menuOpen = !menuOpen;
    private void CloseMenu() => menuOpen = false;
}