@* 3. Partners szekció *@
<section class="py-5 " id="partners">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">
                <h5 class="fw-semibold mb-2">Our Partners</h5>
                <p class="text-muted mb-4">Join the brands that already fly with us. Let’s build something great together. 🙏</p>

                <!-- Itt logókat lefhet megjeleníteni pl. gridben -->
                <!-- <div class="row row-cols-2 row-cols-md-4 g-3">
                    <div class="col"><img src="..." class="img-fluid" alt="Partner 1" /></div>
                    ...
                </div> -->
            </div>
        </div>
    </div>
</section>

@code {

}
